// Styling for the masthead
header.masthead {
  text-align: center;
  color: black;
  background-image: url('../img/header-bg.jpg');
  opacity: 0.85;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  transition: .5s;
  .intro-text {
    padding-top: 250px;
    padding-bottom: 50px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      color: #ffc107;
      text-shadow: 3px 3px 4px black;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      color: #ffc107;
      text-shadow: 3px 3px 4px black;
      @include heading-font;
    }
  }
}

nav:hover ~ header.masthead {
  background-image: url('../img/fun.jpg');
}
nav:not( :hover ) ~ header.masthead {
  background-image: url('../img/header-bg.jpg');
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 50px;
      .intro-lead-in {
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading { 
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  
  header.masthead:hover {
    background-image: url('../img/fun.jpg');
  }
  @media(min-width:768px) {
    header.masthead {
      .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
        .intro-lead-in {
          font-size: 40px;
          font-style: italic;
          line-height: 40px;
          margin-bottom: 25px;
          @include serif-font;
        }
        .intro-heading {
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
          margin-bottom: 50px;
          @include heading-font;
        }
      }
    }
  }
}